body {
  margin: 0;
  background-color: #033808; 
  color: #ffffff;
  font-family: sans-serif;
}

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  margin: 52px 54px auto;
}

.header-actions {
  display: flex;
  align-items: center;
}

.icon-links {
  margin: 41px 454px auto;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.iine {
  size: 56px;
}