/* =========================
   全体
========================= */
body {
  margin: auto;
  background-color: #323031;
  color: #fff;
  font-family: sans-serif;
}

.category-page {
  width: 100%;
  max-width: 1440px;
  padding: 277px 71px 315px 134px;
  box-sizing: border-box;
}

/* =========================
   タイトル
========================= */
.category-title {
  margin-bottom: 147px;

  font-size: 97px;
  font-weight: bold;
}

/* =========================
   注目ゲーム
========================= */
.featured-game {
  margin-bottom: 316px;
}

.game-title {
  margin-bottom: 40px;

  font-size: 70px;
  font-weight: bold;
}

.featured-content {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

/* ゲーム画像 */
.game-image img {
  width: 772px;

  display: block;

  border-radius: 30px;
}

/* ゲーム情報 */
.game-info {
  display: flex;
  flex-direction: column;
  gap: 35px;

  width: 500px;
  margin-top: 90px;
}

.game-price {
  margin: 0;

  font-size: 71px;
  line-height: 1;
}

/* ボタン */
.game-action {
  display: flex;
  align-items: center;
  gap: 25px;
}

.game-action img {
  width: 96px;
  height: 96px;
}

.favorite-icon {
  width: 50px;
  height: auto;

  cursor: pointer;
}

.cart-btn {
  padding: 24px 48px;

  background-color: #006837;
  color: #fff;
  border: none;
  border-radius: 15px;

  font-size: 32px;
  font-weight: bold;

  cursor: pointer;
}

/* レビュー */
.game-review {
  display: flex;
  align-items: center;
  gap: 9px;

  white-space: nowrap;
}

.game-review span {
  margin-right: 10px;

  font-size: 44px;
  font-weight: bold;
}

.game-review img {
  width: 52px;
  height: 52px;
}

/* =========================
   ゲーム一覧
========================= */
.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 155px;

  margin-top: 316px;
}

.game-card {
  width: 512px;
}

/* カード */
.card-title {
  margin-bottom: 14px;

  font-size: 50px;
  font-weight: bold;
}

.card-image {
  width: 512px;
}

.card-image img {
  width: 100%;

  display: block;
  object-fit: contain;

  border-radius: 25px;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 23px;

  margin-top: 20px;
}

.card-price {
  margin: 0;

  font-size: 45px;
}

.card-info .favorite-icon {
  width: 63px;
  height: 63px;
}

.card-cart-btn {
  padding: 10px 18px;

  background-color: #006837;
  color: #fff;
  border: none;
  border-radius: 15px;

  font-size: 22px;
  font-weight: bold;

  cursor: pointer;
}